NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6Lc_teUpAAAAANe4sLdIWYahmF9FoLPmiZB0tZNo
RECAPTCHA_SECRET_KEY=6Lc_teUpAAAAAPjgu9KvaMYpz7iH7JELSOcV_Jqy
NEXT_PUBLIC_ENV=development
