@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
:root {
  height: 100%;
  background-color: #fffdea;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  transition: all 0.3s;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fffdea;
}

.elips-bg {
  background-image: url('../assets/images/Ellipse.png');
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bg-primary-transparent {
  background-color: rgba(26, 32, 44, 0.8); /* Primary color with transparency */
}
